<table style="width:500px; height:500px">
  <tr ng-repeat="(rowKey,row) in main.board">
    <td ng-repeat="(columnKey, value) in row" ng-class="{'visited':value.visited}"></td>
  </tr>
</table>

<a class="btn btn-success" ng-click="main.next()">next</a>
<a class="btn btn-success" ng-click="main.play()">auto-play</a>
<a class="btn btn-danger" ng-click="main.stop()" ng-if="main.canStop()">stop auto-play</a>
